{% extends 'basic.html' %}

{% block title %}
    Edit Post
{% endblock title %}

{% block body %}
{% load crispy_forms_tags %}
<div class="container mt-4">
    <h1 class="text-center" style="color: #b30000;">Edit Post</h1>
    <form method="post">
        {% csrf_token %}
        {{ form|crispy }}
        {% comment %} {{ form.as_p }} {% endcomment %}
        <button type="submit" class="btn btn-success">Save Changes</button>
        <a href="{% url 'post_detail_view' post.id %}" class="btn btn-secondary">Cancel</a>
    </form>
</div>
{% endblock body %}
